h1 {
    text-align: center;

    font-family: Georgia,
        'Times New Roman',
        Times,
        serif;

    & span {
        font-size: 0.7em;
    }
}

nav {
    text-align: center;
}

.speaker,
.speakerstop {
    margin: auto;
    display: block;
}

.forecast {
    margin-inline: auto;
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}